.navbar {
  background: linear-gradient(122.33deg, #863596 30.62%, #4d015c 100%);
    box-shadow: 0 4px 6px rgba(22, 22, 26, 0.18);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1100;
  }
  .navbar .navbar-nav .nav-link {
    color: white;
  }
  .navbar-light .navbar-brand {
    color: white;
  }
  .btn{
    width: 5rem;
    min-width: 5rem;
    height: 2.5rem;
    min-height: 2.5rem;
  }
  .btn a:hover{
    text-decoration: none;
  }
  .btn-outline-dark {
    width: 5rem;
    min-width: 5rem;
    height: 2.5rem;
    min-height: 2.5rem;
    border-radius: 1rem;
    border: 0.2rem solid rgb(187, 187, 187);
    background-color: white;
    color: black;
  }
  .btn-outline-dark a{
    color: black;
    font-weight: bold;
  }
  .btn-outline-dark:focus {
    box-shadow: none;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  @media screen and (max-width: 768px) {
    .btn-outline-dark {
      width: 5rem;
      min-width: 5rem;
      height: 2.5rem;
      min-height: 2.5rem;
      border-radius: 1rem;
      border: 0.2rem solid rgb(187, 187, 187);
      background-color: white;
      color: black;
    }
  
    .btn-outline-dark:hover {
      color: white;
    }
    
  }
a{
  color:white;
  text-decoration: none; 
}
.navbar-toggler{
  display: block;
}
