html , body {
    min-height: 100% !important;
    height: 100%;
}
body{
    background-image: url("../Images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.logob{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

.cursos{
    width: 30%;
    height: 80%;
    float: right;
    margin: 1%;
    border: 0.2rem solid black;
    border-radius: 2rem 0rem 0rem 0rem;
}

.header{
    
    border-radius: 2rem 0rem 0rem 0rem;
    width: 100%;
    min-width: 100%;
    height: 10%;
    background: linear-gradient(122.33deg, #863596 30.62%, #4d015c 100%);
}
.buscador{
   background-color: white;
   padding: 1.5%;
   width: fit-content;
   border-radius: 1rem;
   margin: auto;
   margin-top: 10%;
   border: 0.2rem solid black;
}

.btnB{
    color: #ffffff;
    border-radius: 2rem;
    padding: 10px 15px;
    background: linear-gradient(122.33deg, #863596 30.62%, #4d015c 100%);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    font-size: 16px;
    transition: all 0.3s linear;
    width: 10rem;
    
  }
  
  .btnB:hover {
    transform: translateY(-2px);
  }
  table {
    border: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
table thead {
    background: #f0f0f0;
    height: 60px !important;
}
table thead tr th:first-child {
    padding-left: 45px;
}
table thead tr th {
  
    text-transform: uppercase;
    line-height: 60px !important;
    text-align: left;
    font-size: 11px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
table tbody {
    background: #fff;
}
table tbody tr {
    border-top: 1px solid #e5e5e5;
    height: 60px;
    
}
table tbody tr td:first-child {
    padding-left: 45px;
}
table tbody tr td {
    height: 60px;
    line-height: 60px !important;
    text-align: left;
    padding: 0 10px;
    font-size: 14px;
}
table tbody tr td i {
    margin-right: 8px;
}
@media screen and (max-width: 800px) {
    table {
        border: 1px solid transparent;
        box-shadow: none;
   }
    table thead {
        display: none;
   }
    table tbody tr {
        border-bottom: 45px solid #f8f8f8;
   }
    table tbody tr td:first-child {
        padding-left: 10px;
   }
    table tbody tr td:before {
        content: attr(data-label);
        float: left;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
   }
    table tbody tr td {
        display: block;
        text-align: right;
        font-size: 14px;
        padding: 0px 10px !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
   }
}

.tit{
    color: white
}

.index{
    margin-top: 5%;
}

.alerta{
  margin-top: 10% !important;
}

.flex-r,
.flex-c {
  justify-content: center;
  align-items: center;
  display: flex;

  
}
.flex-c {
  flex-direction: column;
}
.flex-r {
  margin-top: 2%;
  flex-direction: row;
}

.container {
  width: 100%;
  margin-bottom: 2rem;
  padding: 20px 10px;
}

.login-text {
  background-color: #f6f6f6;
  width: 30rem;
  max-width: 400px;
  min-height: 500px;
  border-radius: 10px;
  padding: 10px 20px;
}

.logo {
  margin-bottom: 20px;
}
.logo span,
.logo span i {
  font-size: 25px;
  color: #0d8aa7;
}

.logo img{
  display:block;
  margin:auto;
}

.login-text h1 {
  font-size: 25px;
}
.login-text p {
  font-size: 15px;
  color: #000000b2;
}

.form {
  align-items: flex-start !important;
  width: 100%;
  margin-top: 15px;
}

.input-box {
  margin: 10px 0px;
  width: 100%;
}
.label {
  font-size: 15px;
  color: black;
  margin-bottom: 3px;
}
.input {
  background-color: #f6f6f6;
  padding: 0px 5px;
  border: 2px solid rgba(216, 216, 216, 1);
  border-radius: 10px;
  overflow: hidden;
  justify-content: flex-start;
}

input {
  border: none;
  outline: none;
  padding: 10px 5px;
  background-color: #f6f6f6;
  flex: 1;
}
.input i {
  color: rgba(0, 0, 0, 0.4);
}

.check span {
  color: #000000b2;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.btn_input{
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 15px;
    background: linear-gradient(122.33deg, #863596 30.62%, #4d015c 100%);
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 16px;
    transition: all 0.3s linear;
    width: 15rem;
    
  }
  .btn_input:hover {
    transform: translateY(-2px);
  }
  .extra-line {
    font-size: 15px;
    font-weight: 600;
  }
  .extra-line a {
    color: #4d015c;
  }

td a{
  color: black;
}
